html {
    background-image: linear-gradient(#FC5E55, #FA4083);
}

    
body {
    background-image: url(images/image-lion-background.png);
    background-position: top center;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 1.125rem;
}

.container {
    width: 1024px;

    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
}

header {

    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
    border-bottom: 1px solid lightgray;


}

a {
    color: white;
    text-decoration: none;
}

/* mobile nav */

.sidebar{
    position: fixed;
    top:0;
    right:0;
    display: none;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    gap:20px;
    z-index: 999;
    padding-right:20px;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: whitesmoke;
   
}


 .x{
    padding: 10px;
    width: 40px;
}

.sidebar .navbutton{
    border: #FA4083;
 
}

.sidebar .navbutton a{
    color:#FA4083;
}

header nav .navbutton.menuButton{
    display: none;
}
/************************************/
main {
    padding-top: 100px;
    min-height: 300px;
    display: flex;
    align-items: center;
    padding-bottom: 100px;

}

.cards {


    display: flex;
    justify-content: space-between;
    text-align: center;

}

.card1 {
    background-image: url(images/image-background-card1.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 275px;
    width: 30%;

}

.card2 {
    background-image: url(images/image-background-card2.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 275px;
    width: 30%;
}


.card3 {
    background-image: url(images/image-background-card3.jpg);
    background-size: cover;
    background-position: bottom;
    min-height: 275px;
    width: 30%;
}

.card1,
.card2,
.card3 {
    padding: 30px 30px 20px 30px;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.227);

}

.herobox1 {

    flex: 2;
    padding-right: 100px;
}

.herobox2 {

    flex: 1;
}

h1 {
    font-size: 3.25rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 1rem;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.227);
}

p {
    line-height: 1.75rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 2rem;
    font-family: 'Playfair Display', serif;
    margin-bottom: 0.5rem;
    margin-top: 20px;

}

.cards p {
    font-size: 0.80rem;
    line-height: 1.5rem;
    margin-top: 10px;
}

.cards i {
    font-size: 60px;

}

.mybutton {
    background-color: white;
    color: #FA4083;
    font-family: 'Playfair Display', serif;
    padding: 11px 25px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 4px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.227);
}

.mybutton:hover{
    background-color: rgba(255, 255, 255, 0.507);
    transition-duration: 1s;
}



.herobox2 img {
    border-radius: 4px;
}

nav .navbutton {
    border: 1px white;
    border-color: white;
    border-style: solid;
    padding: 10px 20px;
    font-family: 'Playfair Display', serif;
    display: inline-block;
    position: relative;
}
    




.testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
}

.tbox {
    border: 1px solid white;
    width: 47%;
    padding: 50px;
    margin-top: 60px;
    box-sizing: border-box;
}

.tbox :last-child {
    font-size: 0.8rem;
    padding-left: 30px;
}



.dropdown{
    display: none;
    position: absolute;
    z-index: 1;
    padding-top: 20px;
    text-align: center;
  
}

.navbutton:hover .dropdown{

    display: block;

}

.dropdown .navbutton{
    width: 150px;
    background-color: white;
    border: 1px solid lightgrey;
    margin-left: -20px;
    
   
}
.dropdown .navbutton a{
    color: #FA4083;
   
}

.navbutton{
    margin-left: 20px;
}

.main2{
    min-height: 300px;
    padding-top: 50px;
}

.inputwrapper{
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type=text], input[type=email], textarea {
    padding: 8px 20px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    font-size: 0.8rem;
    box-sizing: border-box;
}

.newline{
    display: block;
    margin-bottom: 10px;
}

.margin-right-radio{
    margin-right: 20px;
}

.inputwrapper{
    margin-bottom: 20px;
}

input[type=radio]{
    margin-right: 10px;
}

form{
    margin: 40px;
}

